<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>药视通 连锁管理平台</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no"/>
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="Expires" content="-1" />
    <meta name="Cache-Control" content="no-cache, private, max-age=0" />
    <meta name="Pragma" content="no-cache" />
    <script type="text/javascript" src="https://api.map.baidu.com/api?ak=aT62L3G1ijexqVEtXGNfLmjXT3cn9VBx&v=2.0&s=1"></script>
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_4rmwgalmnfry66r.css"> -->
</head>

<body>
<div id="app"></div>

<script src="<%= htmlWebpackPlugin.options.vendorjs %>"></script>
<script src="<%= htmlWebpackPlugin.options.statisticsjs %>"></script>
</body>
</html>